language: java

jdk:
    - oraclejdk8
dist: trusty
after_success:
  - bash <(curl -s https://codecov.io/bash)


addons:
  sonarcloud:
    organization: "rkonovalov-github" # the key of the org you chose at step #3



script:
  - "mvn test"
  - "mvn jacoco:report"
  - sonar-scanner