<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE config PUBLIC
        "-//json/json-ignore mapping DTD 1.0//EN"
        "https://rkonovalov.github.io/json-ignore-schema-1.0.dtd">
<config>
    <controller class-name="mock.MockMethods">
        <strategy attribute-name="ROLE" attribute-value="ADMIN">

            <filter class="mock.MockUser">
                <field name="id"/>
            </filter>
        </strategy>
        <strategy attribute-name="ROLE" attribute-value="USER">
            <filter class="mock.MockUser">
                <field name="id"/>
                <field name="password"/>
            </filter>
        </strategy>
    </controller>
</config>